<form method="POST" action="{{ path('tournament_delete', {'id': tournament.id}) }}" onsubmit="return confirm('{{ 'tournament.confirm_delete'|trans }}');">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>